@import '../styles/base/variables';

.quote-container {
	background-color: $IBHU_BLUE;
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	min-height: 100px;
	margin-top: 100px;
	left: 50%;
}
.quote-content .creativity-content {
	max-width: 500px;
	max-height: auto;
	display: contents;
}
.quote-content>div {
	margin: 20px;
	color: $IBHU_WHITE;
}

.slider {
	padding: 10px;
}
.image-centre {
	text-align: center;
}
.abcd-content {
	padding: 20px;
	font-size: larger;
	display: flex;
	justify-content: center;
	align-items: center;
}
.abcd {
	font-size: 1.5rem;
	font-weight: 900;
}
.abcd-attribute {
	font-style: italic;
	align-items: flex-end;
	margin-bottom: 0px;
}


