@import '../styles/base/variables';

.image-container {
	display: flex;
	justify-content: center;
}
.image-wrapper {
	width: 100%;
	height: auto;
	margin-bottom: 1.45rem;
}
.donate-button {
	margin-top: 10px;
}
.link {
	color: $IBHU_BLUE;
}
.link:hover {
	color: $INDLOVU_RED;
}

@media (min-width: $breakpointSmall) {
  .image-wrapper {
		max-width: 400px;
	}
} 
