.container {
	display: grid;
	column-gap: 30px;
	row-gap: 15px;
	align-items: center;
	justify-content: center;
	grid-template-areas: 
		'head head'
		'intro bio-pic'
		'ellie-pic story'
		'question question'
		'gin-pic summary'
		'proudlysa proudlysa';
}
.story-head {
	grid-area: head;
}
.story-intro {
	grid-area: intro;
}
.story-bio-pic {
	grid-area: bio-pic;
}
.story-ellie-pic {
	grid-area: ellie-pic;
}
.story-story {
	grid-area: story;
}
.story-question {
	grid-area: question;
}
.story-gin-pic {
	grid-area: gin-pic;
}
.story-summary {
	grid-area: summary;
}
.story-proudlysa {
	grid-area: proudlysa;
}
@media (max-width: 700px) {
  .container {
    grid-template-areas:
      'head'
      'intro'
			'bio-pic'
			'story'
			'ellie-pic'
			'question'
			'summary'
			'gin-pic'
			'proudlysa';
  }
}
.upper-case {
	text-transform: uppercase;
}

.image {
	min-width: 100px;
	margin-bottom: 1.45rem;
}

.right {
	float: right;
}
