@import '../styles/base/variables';

.list {
	background-color: $INDLOVU_ORANGE;
}
.list-item a:hover {
	color: $INDLOVU_ORANGE;
}
@media (min-width: $breakpointMed) {
	.container {
		background-color: $INDLOVU_ORANGE;
	}
}
