@import '../styles/base/variables';

.inner {
  padding: 10px;
  border-top: 0;

  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.trigger {
	display: block;
  font-weight: 400;
  text-decoration: none;
  color: grey;
  position: relative;
  border: 1px solid $IBHU_WHITE;
  padding: 10px 20px 10px 10px;
	color: $IBHU_WHITE;
	background-color: $INDLOVU_ORANGE;
  transition: background-color 200ms ease;

  &:after {
    font-family: 'fontawesomeregular';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
  }

  &.open {
		&:after {
      transform: rotateZ(180deg);
		}
	}
}

