@import '../styles/base/variables';

.container {
	background: $IBHU_BLACK;
	padding: 1rem 1rem;
}

.logo-container {
	float: left;
}

.logo {
	width: 4rem;
}

.content {
	display: inline;
}

.link {
	color: $IBHU_WHITE;
	text-decoration: none;
}
