@import '../styles/base/variables';

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	padding: 1rem;
	flex-grow: 1;
}

.bottom {
	margin-top: 1.45rem;
}

Header {
	z-index: 100;
}

@media (min-width: $breakpointMed) {
	.content {
		max-width: 960px;
		margin: 0 auto;
	}
}
