@import '../styles/base/variables';

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	margin-top: 100px;
}

.content {
	padding: 1rem;
	flex-grow: 1;
}

.bottom {
	margin-top: 1.45rem;
}

Header {
	z-index: 100;
}

@media (min-width: $breakpointMed) {
	.container {
		margin-top: 130px;
	}
	
	.content {
		max-width: 960px;
		margin: 0 auto;
	}
}
