@import '../styles/base/variables';

.container {
	float: right;
	height: 2rem;
}

.nav-list {
	display: block;
	list-style-type: none;
}

.list-item {
	list-style-type: none;
}

.large-menu .nav-list {
	margin-top: 1.45rem;
}

.large-menu .list-item {
	display: inline;
}

.small-menu {
	margin-top: 1.2rem;
	background-color: $IBHU_WHITE;
}

.small-menu .list-item {
	display: block;
}

.link-item {
	color: $IBHU_BLACK;
	padding: 1rem;
	text-decoration: none;
}

.link-item:hover {
	color: $INDLOVU_ORANGE;
}

.active-link-item {
	color:$IBHU_GREY;
}

.menuButton {
	size: 60px;
	color: $IBHU_BLACK;
}
