@import '../styles/base/variables';

.container a {
	text-decoration: none;
	color: $IBHU_BLUE;
	font-variant: small-caps;
}

.container a:hover {
	text-decoration: underline;
}

.list {
	list-style: none;
	margin-left: 0px;
}

.item {
	margin-bottom: 0;
}
