@import '../styles/base/variables';

.list {
	width: 100vw;
	float: none;
	list-style-type: none;
	text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
	background-color: $INDLOVU_ORANGE;
	padding-top: 0.46rem;
	padding-bottom: 0.46rem;
}
.list-item {
	display: inline-block;
	margin-bottom: 0;
}
.list-item a {
  display: block;
  color: $IBHU_WHITE;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.list-item a:hover {
	background-color: $IBHU_WHITE;
	color: $INDLOVU_ORANGE;
}
.large {
	display: none;
}
.small {
	display: inline-block;
}

@media (min-width: $breakpointMed) {
	.container {
		width: 100vw;
		height: 86px;
		background-color: $INDLOVU_ORANGE;
	}
	.list {
    float: right;
    width: 770px;
	}
	.large {
		display: inline-block;
	}
	.small {
		display: none;
	}
}
