@import '../../styles/base/variables';

.quote-container {
	background-color: $IBHU_BLUE;
	// min-height: 200px;
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	min-height: 100px;
	margin-top: 100px;
	left: 50%;
}
.quote-content {
	max-width: 500px;
	max-height: auto;
	display: contents;
}

.quote-content>div {
	margin: 20px;
}

.slider {
	padding: 10px;
}
.image-centre {
	text-align: center;
}
.creativity-container {
	display: flex;
}
