$FONT_FAMILY: 'CenturyExpd BT', serif;
$BASE_FONT_SIZE: 19px;
$BASE_LINE_HEIGHT: 1.9rem;
$IBHU_BLUE: rgb(35, 93, 138);
$IBHU_BLACK: rgb(35, 31, 32);
$IBHU_WHITE: rgb(255, 255, 255);
$INDLOVU_ORANGE: rgb(198, 8, 19);
$INDLOVU_PINK: rgb(226, 51, 119);
$INDLOVU_GREEN: rgb(91, 181, 43);

$breakpointMega: 1600px;
$breakpointLarge: 990px;
$breakpointMed: 767px;
